/* common */
.section {
  margin: 60px 0;
}
.section .heading {
  font-size: 54px;
  line-height: 1.5;
  font-weight: 700;
  font-family: "inter-bold", Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 0 10px 0;
  color: #2f7c72;
}
.section .sub-heading {
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 40px 0;
}
/* common */

/* header */
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .logo-wrap {
  max-width: 320px;
}

header nav button {
  width: 200px;
  height: 55px;
  padding: 10px;
  background: #529471;
  color: #e5f1e3;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 700;
}
/* header */

/* banner */
.banner {
  min-height: 710px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.banner-bg {
  z-index: 0;
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 65%
    ),
    url("./../images/banner_image.jpg");
  filter: blur(2px);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner .container {
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 40px 16px;
}
.banner .left-wrap .title {
  max-width: 615px;
  font-family: "inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #2f7c72;
}

.banner .left-wrap .desc {
  max-width: 715px;
  font-size: 26px;
  line-height: 1.2;
}

.banner .right-wrap {
  width: 100%;
  max-width: 500px;
  height: 500px;
  position: relative;
  border-radius: 20px;
  margin-left: auto;
  overflow: hidden;
}
.banner .right-wrap .form-bg {
  z-index: 0;
  background: #fff;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
}
.banner .right-wrap:hover .form-bg {
  opacity: 1;
}

.banner .right-wrap .form-wrap {
  z-index: 1;
  position: relative;
  padding: 20px;
}
.banner .right-wrap .title {
  font-family: "inter-bold", Arial, Helvetica, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 5px;
  color: #2f7c72;
}

.banner .right-wrap .desc {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.banner .right-wrap .field-block {
  margin-bottom: 30px;
}
.banner .right-wrap .field-block label {
  font-size: 16px;
  line-height: 1.1;
  color: #000;
}
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  background: #efefef;
  transition: all 0.5s ease-out;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #529471;
  background: #efefef;
}
.form__input:focus:invalid {
  border-bottom: 3px solid red;
}
.banner .form-wrap .submit_button {
  width: 100%;
  padding: 10px;
  font-size: 28px;
  border-radius: 50px;
  background: #529471;
  color: #fff;
}
/* banner */

/* Features Section */
.features {
  padding: 60px 0;
}
.features .list-wrap {
  display: flex;
  margin: 0 -18px;
  flex-wrap: wrap;
  justify-content: center;
}
.features .list-wrap .list-item {
  flex: 1 0 auto;
  width: 100%;
  max-width: 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 0 18px;
  margin: 0 0 20px 0;
}

.features .list-wrap .list-item .title {
  font-size: 26px;
  font-family: "inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
  color: #2f7c72;
}
.features .list-wrap .list-item .desc {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}
/* Features Section */

/* about Section */
.about {
  background: #40413c;
  padding: 80px 0;
  color: #fff;
  margin: 0;
}
.about .heading {
  margin-bottom: 40px;
}
.about .content-wrap {
  display: flex;
  gap: 20px;
  width: 100%;
}
.about .content-wrap .left-wrap,
.about .content-wrap .right-wrap {
  flex: 1 0 auto;
  max-width: 50%;
}
.about .left-wrap {
  border-radius: 20px;
  overflow: hidden;
}
.about .right-wrap {
  padding: 0 0 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .right-wrap .title {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 30px;
  font-family: "inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.about .right-wrap .desc {
  font-size: 26px;
  line-height: 1.5;
  font-weight: 400;
}
/* about Section */

/* Cars Section */
.cars {
  padding: 80px 0;
}
.cars #controls {
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: -50px;
}
.cars .slider-control {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}
.cars .slider-control:hover {
  border-color: #529471;
}
.cars .slider-control svg {
  width: 80%;
}
.cars .tns-outer {
  margin: 0 auto;
}
.cars .slide .title {
  font-size: 44px;
  line-height: 1.5;
  font-family: "inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}
/* Cars Section */

/* Footer */
footer {
  background-color: #f3f7ec;
  padding: 80px 0 40px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .img-wrap {
  width: 420px;
  margin-top: -20px;
}

footer .right-wrap li {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 10px;
}
footer .right-wrap li:hover {
  text-decoration: underline;
}
footer .copyright {
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 1;
}
