/* header */
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header nav .logo-wrap {
    max-width: 260px;
    padding: 12px 0 0 0;
  }
  .logo-wrap a{display: flex;align-items: center;justify-content: center;}
  .globe-wrap{width: 80px;height: 80px;border-radius: 50%;display: flex;align-items: center;justify-content: center;}
  #globe { fill: #529471; transform-origin: 50% 50%; animation: rotate 10s linear infinite; } 
  .logo-content{border-left: 3px solid #529471;} 
  .logo-content .bold{font-family: "poppins-bold", Arial, Helvetica, sans-serif; font-weight: 700; font-size: 2.8rem; line-height: 1.2;margin-bottom: 10px;color: #529471;} 
  .logo-content p{font-size: 1.8rem; line-height: 1.2;color: #529471;font-family: "poppins-bold", Arial, Helvetica, sans-serif; font-weight: 700;padding: 0 0 0 10px;}
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  header nav button {
    width: 200px;
    height: 55px;
    padding: 10px;
    background: #529471;
    color: #e5f1e3;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 700;
  }
  
  @media only screen and (max-width: 767px) {
    header nav .logo-wrap {
      margin: 0 auto;
    }
  }
  /* header */
  .heading {
    font-size: 4.6rem;
    line-height: 1.5;
    text-align: center;
    margin: 60px 0 40px 0;
    font-family: "poppins-bold", Arial, Helvetica, sans-serif;
    font-weight: 700;
  }

  @media only screen and (max-width: 767px) {
    .heading {
      font-size: 2.4rem;
      margin: 30px 0 20px 0;
    }
    
  }

    /* accordion */
    .faq-wrapper {position: relative;}
    .faq-wrapper .heading{margin: 0 0 40px 0;}
    .faq-wrapper .title{font-size: 2.2rem;line-height: 1.1;font-weight: 500;font-family: "poppins-medium"; color: #081b37;margin: 0 0 30px 0;}
    .faq-wrapper .heading::before {content: ""; width: 67px; height: 4px; background: #ff8600; position: absolute; top: -8px;}
    .accordion-item {background-color: #fff; border: 1px solid #D9D9D9; border-radius: 16px; margin-bottom: 16px;}
    .accordion-item .table-data{display: flex;align-items: center; justify-content: space-between;border-bottom: 1px solid #e3dfdf;padding: 10px 0;}
    .accordion-item .table-data:last-child{border: none;}
    .accordion-item .table-data p{ font-size: 1.6rem; line-height: 1.1;  color: #081B37;}
    .accordion-item .table-data p:first-child{margin: 0 10px 0 0;font-weight: 500;font-family: "poppins-medium"; }
    .accordion-item .accordion-button {background: #fff; cursor: pointer; padding: 16px 40px 16px 16px; width: 100%; text-align: left; outline: none; transition: 0.4s; border-radius: 16px; position: relative; font-size: 18px; line-height: 26px; font-family: "poppins-medium"; font-weight: 500; color: #1B3459;}
    .accordion-item .accordion-button:after {content: '\002B'; color: #8B94A1; position: absolute; top: 50%; right: 16px; transform: translateY(-50%); font-weight: 400; font-size: 24px; height: 30px;}
    .accordion-item .accordion-button.active:after {content: "\2212"; color: #8B94A1; font-weight: 400;}
    .accordion-item .accordion-body {padding: 0 18px; background-color: #fff; max-height: 0; overflow: hidden; border-radius: 16px; transition: max-height 0.2s ease-out; overflow-x: auto;}
    .accordion-item .accordion-button.active + .accordion-body {margin-bottom: 16px;}
    .accordion-item .accordion-button .accordion-body {padding: 0;}
    .faq-wrapper .accordion-item:last-child {margin-bottom: 0;}
  
    .desc-wrap{margin: 30px 0;}
    .desc-wrap .disclosure{font-size: 2.2rem;line-height: 1.1;font-weight: 500;font-family: "poppins-medium"; color: #081b37;margin: 30px 0;}
    .desc-wrap ol li{font-size: 1.8rem; line-height: 1.1; color: #081b37; margin: 0 0 20px 0; position: relative; padding: 0 0 0 20px;}
    .desc-wrap ol li span{text-decoration: underline;font-weight: 700;}
    .desc-wrap ol li .client{margin: 12px 0;display: block;text-decoration: none;}
    .desc-wrap ol li ol{margin: 20px 0 0 0;}
    .desc-wrap ol li:before { content: ""; width: 6px; height: 6px; background: #000; position: absolute; left: 0; top: 11px; border-radius: 50%; }
    
     @media only screen and (max-width: 767px) {
      .faq-wrapper .heading{margin: 0 0 30px 0;}
    }
  
  
    
    
    /* accordion */

  /* Footer */
  footer {
    background-color: #f3f7ec;
    padding: 80px 0 40px 0;
  }
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .img-wrap {
    width: 320px;
    margin-top: -20px;
  }
  
  footer .right-wrap li {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  footer .right-wrap li a:hover {
    text-decoration: underline;
  }
  footer .copyright {
    margin-top: 40px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1;
  }
  @media only screen and (max-width: 767px) {
    footer {
      padding: 20px 0;
    }
    footer .container {
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
    }
    footer .img-wrap {
      width: 150px;
      margin: 0 auto;
    }
    footer .right-wrap li {
      text-align: center;
    }
    footer .copyright {
      font-size: 1.4rem;
    }
  }
  